* {
  margin: 0;
  padding: 0;
  color: white;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  
  width: 100vw;
  height: 100vh;

  background: #00092A;
}

.days {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10%;
  
  width: 70%;
  height: 500px;
}

.day {
  display: flex;
  flex-direction: row;
  width: 90%;
  height: 25px;
  background: transparent;
}

.day::before {
  content: attr(id);
  font-size: 1.5em;
  margin-right: 50px;
}

.hours {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  
  width: 100%;
  height: 100%;

  border: white 3px solid;
  border-radius: 999px;
}

.hour{
  width: calc(100% / 24);
  height: 100%;
}

.hour::before {
  content: attr(id);

  display: block;
  position: absolute;
  
  witdh: 100px;
  height: 100px;
  translate: calc(100% / 2) -25px;
}

.hour.dead{
  background: linear-gradient(70deg, transparent calc(50% - 2px), grey 50%, transparent calc(50% + 2px));
  background-size: calc(100% / 3);
  background-repeat: repeat-y repeat-x;
  
}

.hour.full-match{
  background: radial-gradient(transparent 70%, rgba(0, 0, 0, .3) 100%), #6CFFA6;
}

.hour.low-match{
  background: radial-gradient(transparent 70%, rgba(0, 0, 0, .3) 100%), #FCF68A;
}